body {
    background: linear-gradient(135deg, rgba(104,219,242,1) 0%, rgba(240,183,241,1) 78%);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: white;
    border-radius: 10px;
    border:1.5px solid black;
}

.h1-login
{
    text-align: center; 
    font-size: xx-large; 
    padding-top: 20px;
}


.login-form .input-field{
    margin-left: 45px;
    margin-bottom: 25px;
    margin-right: 45px;
    width: 300px;
}

.login-form .input-field input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 2.5px solid #B5B8BA;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

.forgot-password{
    margin-top: 15px;
    margin-left: 45px;
}

.login-button .login-button-text
{
   color: white;
   font-weight: bold;
   /* padding-top: -25px; */
}

button {
 width: 300px;
  background-color: #1785E9;
  border-radius: 50px;
  margin-top: 10px;
  margin-right: 45px;
  margin-left: 45px;
  height: 45px;
  border: none;
}

.not-a-member{
    margin-top: 20px; 
    text-align: center;
}

a:link , a :visited{
    text-decoration: none;
}

p , .login-form .input-field input::-webkit-input-placeholder {
    color:#B5B8BA
}

p , .login-form .input-field input::-webkit-input-placeholder , .login-form .input-field input{
    font-size: 18px;
}