body {
    background: linear-gradient(135deg, rgba(104,219,242,1) 0%, rgba(240,183,241,1) 78%);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: white;
    border-radius: 5px;
}

.signup-form .h1-signup {
    padding-top: 25px;
    padding-bottom: -5px;
}

.signup-form .h1-signup , .signup-form .h1-text{
    margin-left: 25px;
}

.signup-form .input-field
{
    margin-left: 25px;
    margin-right: 25px;

}

.signup-form .email-field , .signup-form .password-field , .signup-form .confirm-field
{
    margin-left: 25px;
    margin-bottom: 25px;
}

.flex-container
{
    display: flex;
    flex-direction: row;
}

.signup-button .signup-button-text
{
   color: white;
   font-weight: bolder;
   /* padding-top: -25px; */
}

.signup-form .terms-text{
    margin-bottom: 10px;
    margin-left: 25px;
}

button {
    width: 150px;
    background-color: #1785E9;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 45px;
    margin-left: 25px;
    height: 45px;
    border: none;
    margin-bottom: 35px;
   }

a:link , a :visited{
    color: #1785E9;
    text-decoration: none;
}

p , .signup-form .input-field input::-webkit-input-placeholder ,
.signup-form .email-field input::-webkit-input-placeholder, 
.signup-form .password-field input::-webkit-input-placeholder,
.signup-form .confirm-field input::-webkit-input-placeholder
{
    padding-left: 3px;
    color:#B5B8BA;
}
